*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
:root{
    --azulTeste:     dodgerblue;
    --vermelhoTeste: firebrick;
    --verdeTeste:    green;
    --laranjaTeste:  orange;
    --amareloTeste:  yellow;
    --roxoTeste:     violet;
    --rosaTeste:     deeppink;
    --bordaDaPagina: 30px;
    --margemMain:    50px;
    --azulEscuro:    #001a4f;
    --bodyGrad: linear-gradient(to bottom,
                            #001a4f,
                            #0054b5,
                            #001a4f);
    --headerNavGrad: linear-gradient(to left,
                            #b5fcfe,
                            #d3f5ff,
                            #b5fcfe);
    --headerGrad: linear-gradient(to top,
                            #0c4acf,
                            #ba72e7);
    --projetosGrad: linear-gradient(to left,
                            #001a4f,
                            #511375,
                            #001a4f);
    --mainGrad: linear-gradient(to left,
                            #107ce9,
                            #00d9ff,
                            #107ce9);
    --footerGrad: linear-gradient(to top,
                            #511375,
                            #070733);
}
.headerNav, .headerNavDiv, .headerTxt, .headerTxt div, .main2, .main3, .main2 div, .main3 div, .projetos, .sessoes p, fieldset, footer{
    display: flex;
}
.projetos, .sessoes, .sessoes p, .main2 div, .main3 div, footer{
    justify-content: center;
}
.headerNav, .headerTxt, .main2, .main3, .main2 div, .main3 div, .projetos, .sessoes p, footer{
    align-items: center;
}
body{
    margin: 5%;
    background-image: var(--bodyGrad);
}
.headerNav{
    height: 50px;
    justify-content: end;
    border-top-right-radius: var(--bordaDaPagina);
    border-top-left-radius: var(--bordaDaPagina);
    background-image: var(--headerNavGrad);
}
.headerNavDiv{
    gap: 15px;
    margin-right: 30px;
}
.headerTxt{
    height: 250px;
    color: var(--azulEscuro);
    font-family: cursive;
    font-size: 150%;
    background-image: var(--headerGrad);
    justify-content: space-evenly;
    border-bottom-left-radius: var(--bordaDaPagina);
    border-bottom-right-radius: var(--bordaDaPagina);
}
.headerTxt div{
    flex-direction: column;
    gap: 10px;
    text-shadow: 0 2px 3px #f3ddff,
                 0 3px 3px #ba72e7;
}
.headerFoto{
    width: 200px;
    height: 200px;
    border-radius: 200px;
    background-image: url(perfil.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 260px;
    box-shadow: 0 0 10px 3px white,
                0 0 0px  3px white,
                0 0 30px     #ec5bff,
                0 0 50px     #0c4acf;
}
.projetos{
    width: 100%;
    height: 100px;
    background-image: var(--projetosGrad);
    color: white;
    font-size: 250%;
    text-shadow: 0 0 6px white,
                 0 0 15px #ff42d6,
                 0 0 25px #d300a5;
    border-radius: var(--bordaDaPagina);
    margin-bottom: 30px;
}
.main2, .main3{
    height: auto;
    background-image: var(--mainGrad);
    flex-direction: column;
    border-radius: var(--bordaDaPagina);
    font-size: 150%;
}
.main2 strong{
    color: white;
    text-shadow: 0 3px 5px #0c4acf;
}
.main2 p{
    margin-bottom: 20px;
    color: #070733;
}
.main3{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.main2 div, .main3 div{
    flex-direction: column;
    margin: var(--margemMain)
}
.sessoes{
    width: 100%;
    height: 80vh;
    /* background-image: var(--mainGrad); */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 45%);
    align-content: center;
    gap: 50px;
    border-bottom-left-radius: var(--bordaDaPagina);
    border-bottom-right-radius: var(--bordaDaPagina);
}
.sctDiv1{
    background-image: url(MeLoja.png);
}
.sctDiv2{
    background-image: url(LandingPage.png);
}
.sctDiv3{
    background-image: url(LGPD.png);
}
.sctDiv4{
    background-image: url(7Maravilhas.png);
}
.sctDiv5{
    background-image: url(mapaClicavel.png);
}
.sctDiv6{
    background-image: url(Formulario.png);
}
.sctDiv7{
    background-image: url(Responsivo.png);
}
.sctDiv8{
    background-image: url(LealPhone.png);
}
.sessoes p{
    height: 10%;
    font-size: 120%;
    font-weight: 0;
    color: white;
    margin-bottom: 10px;
    text-shadow: 0 0 6px  white,
                 0 0 15px cyan,
                 0 0 25px blue;
}
div[class^="sctDiv"]{
    width: 100%;
    height: 90%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    border-radius: 80px;
    box-shadow: 0 0 10px 3px white,
                0 0 0px  3px white,
                0 0 25px     cyan,
                0 0 30px     blue;
}
fieldset{
    flex-direction: column;
    margin: var(--margemMain);
    border-radius: var(--bordaDaPagina);
    border-width: 4px;
    border-style: solid;
    color: white;
    text-shadow: 0 3px 5px #0c4acf;
    box-shadow:  0 10px 15px 0 #0c4acf;
}
legend{
    margin: 0 0 20px 20px;
    font-size: 120%;
}
fieldset p{
    margin: 0 0 20px 20px;
}
label{
    margin: 20px 0 3px 20px;
}
input{
    height: 30px;
    border-style: none;
}
input, textarea{
    margin: 0 20px 0 20px;
    font-size: 16px;
    border-radius: 10px;
}
textarea{
    margin-bottom: 20px;
    border-style: none;
}
footer{
    color: white;
    flex-direction: column;
    gap: 10px;
    height: 200px;
    margin-top: 50px;
    background-image: var(--footerGrad);
    border-radius: var(--bordaDaPagina);
}
footer a{
    color: #00d9ff;
}